.navbar-brand {
border-bottom:solid 2px #406321;
background-color:#fafafa !important;
box-shadow: inset 0px 0px 22px 0px #ABABAB;
-webkit-box-shadow: inset 0px 0px 22px 0px #ABABAB;
-moz-box-shadow: inset 0px 0px 22px 0px #ABABAB;
-o-box-shadow: inset 0px 0px 22px 0px #ABABAB;
}

#logo.navbar-brand > img {
    height: 60px !important;
    margin: 0 auto;
    padding-right: 4px;

}
.navbar-brand {
    float: left;
    font-size: 18px;
    height: auto !important;
    line-height: 20px;
    padding: 15px;
}

.nav-no-collapse.pull-right {
    padding: 15px 5px;
}
.nav-no-collapse.navbar-left.pull-left.hidden-sm.hidden-xs {
    padding: 15px 5px;
}

#sidebar-nav .nav li .submenu > li > a {
    color: #fff;
    display: block;
    font-size: 0.875em;
    line-height: 38px;
    outline: medium none;
    padding-left: 40px !important;
    text-decoration: none;
    transition: border-color 0.1s ease-in-out 0s, background-color 0.1s ease-in-out 0s, box-shadow 0.1s ease-in-out 0s;
}


.navbar-collapse {
    border-top: 0 none;
    box-shadow: none;
    width: auto;
}

.navbar-nav {
    float: left !important;
    margin: 0;
}
.navbar-nav>li {
    float: left;
}
.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
}
#email-detail {
    margin-left: 15px !important;
    position: relative;
}
#email-content , #email-new{
    margin-left: 15px !important;
    position: relative;
}
.dataTables_length, .dataTables_filter{
display:none;
}
#config-tool {
    position: relative !important;
    right: 0 !important;
    top: 0 !important;
    width: auto !important;
    z-index: 1000 !important;
}

.fixed-header #content-wrapper{
padding-top:40px !important;
}

.fixed-header #nav-col{
padding-top:25px !important;
}
#login-logo {
    background: none repeat scroll 0 0 transparent !important;
    color: #fff;
    display: block;
    font-size: 2em;
    font-weight: 400;
    padding: 35px 0;
    text-align: center;
    text-transform: uppercase;
}
#login-full-wrapper {

/*	background: url("../img/map2_with_bg.png") no-repeat scroll center center / cover rgba(0, 0, 0, 0) !important; */
	background: url("../img/map2_with_bg.png") repeat-x scroll center !important;
    height: 100%;
    position: absolute;
    width: 100%;
}
.btn-tool{
	padding:0px 3px !important;
	margin:0 !important;
}
 #config-tool-options {
    background: none !important;
	padding:0 !important;
	box-shadow:none !important;

}
 .main-box{
 border:0 !important;
 box-shadow: none  !important;
}

.filter{
	padding-bottom: 30px;
}

.sselect{
box-shadow:0 !important;
border:0 !important;
margin:0 !important;
padding:0 !important;
}
.button-top{
	padding-top: 10px;
}

.h4_bold{
	font-weight: bold;
}


.intr{
display:;
}

.table tbody > tr > td:first-child {
    font-size: 0.875em !important;
	color:#212121 !important;
	font-weight:500 !important;

}

.table thead > tr > th {
    border-bottom: 2px solid #e7ebee;
    font-size: 0.875em;
    text-transform: capitalize !important;
}
.centerMe{
	display:none;
}