.navbar-brand {
border-bottom:solid 2px #406321;
background-color:#fafafa !important;
box-shadow: inset 0px 0px 22px 0px #ABABAB;
-webkit-box-shadow: inset 0px 0px 22px 0px #ABABAB;
-moz-box-shadow: inset 0px 0px 22px 0px #ABABAB;
-o-box-shadow: inset 0px 0px 22px 0px #ABABAB;
}

#logo.navbar-brand > img {
    height: 60px !important;
    margin: 0 auto;
    padding-right: 4px;

}
.navbar-brand {
    float: left;
    font-size: 18px;
    height: auto !important;
    line-height: 20px;
    padding: 15px;
}

.nav-no-collapse.pull-right {
    padding: 15px 5px;
}
.nav-no-collapse.navbar-left.pull-left.hidden-sm.hidden-xs {
    padding: 15px 5px;
}

#sidebar-nav .nav li .submenu > li > a {
    color: #fff;
    display: block;
    font-size: 0.875em;
    line-height: 38px;
    outline: medium none;
    padding-left: 40px !important;
    text-decoration: none;
    transition: border-color 0.1s ease-in-out 0s, background-color 0.1s ease-in-out 0s, box-shadow 0.1s ease-in-out 0s;
}


.navbar-collapse {
    border-top: 0 none;
    box-shadow: none;
    width: auto;
}

.navbar-nav {
    float: left !important;
    margin: 0;
}
.navbar-nav>li {
    float: left;
}
.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
}
#email-detail {
    margin-left: 15px !important;
    position: relative;
}
#email-content , #email-new{
    margin-left: 15px !important;
    position: relative;
}
.dataTables_length, .dataTables_filter{
display:none;
}
#config-tool {
    position: relative !important;
    right: 0 !important;
    top: 0 !important;
    width: auto !important;
    z-index: 1000 !important;
}

.fixed-header #content-wrapper{
padding-top:40px !important;
}

.fixed-header #nav-col{
padding-top:25px !important;
}
#login-logo {
    background: none repeat scroll 0 0 transparent !important;
    color: #fff;
    display: block;
    font-size: 2em;
    font-weight: 400;
    padding: 35px 0;
    text-align: center;
    text-transform: uppercase;
}
#login-full-wrapper {

/*	background: url("../img/map2_with_bg.png") no-repeat scroll center center / cover rgba(0, 0, 0, 0) !important; */
	background: url("../img/map2_with_bg.png") repeat-x scroll center !important;
    height: 100%;
    position: absolute;
    width: 100%;
}
.btn-tool{
	padding:0px 3px !important;
	margin:0 !important;
	margin-right:5px !important; 
}
 #config-tool-options {
    background: none !important;
	padding:0 !important;
	box-shadow:none !important;

}
 .main-box{
 border:0 !important;
 box-shadow: none  !important;
}

.filter{
	/*padding-bottom: 30px;*/
}

.sselect{
box-shadow:0 !important;
border:0 !important;
margin:0 !important;
padding:0 !important;
}
.button-top{
	padding-top: 10px;
}

.h4_bold{
	font-weight: bold;
}


.intr{
display:;
}

.table tbody > tr > td:first-child {
    font-size: 0.875em !important;
	color:#212121 !important;
	font-weight:500 !important;

}

.table thead > tr > th {
    border-bottom: 2px solid #e7ebee;
    font-size: 0.875em;
    text-transform: capitalize !important;
}
.centerMe{
	display:none;
}
.table-text-field{
	width: 100%;
	height: 30px;
}

.table.table-condensed tbody > tr > td {
    padding: 1px 5px !important;
}


.dataTables_info{
display:none;
}


.table tr.success > th {

    border-right: 0px solid #cbcbcb !important;


}
.table tr.success > th  > a{
color:#000;
}

.table tr.success > th {
	padding:2px !important;
	/* background-color:#EAEAEA !important; */
  /*  background: url("../img/sprite.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);  */
  background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #d8d8da 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#d8d8da)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 0%,#d8d8da 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 0%,#d8d8da 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 0%,#d8d8da 100%); /* IE10+ */
background: linear-gradient(to bottom, #ffffff 0%,#d8d8da 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d8d8da',GradientType=0 ); /* IE6-9 */




}

.table-striped > tbody > tr:nth-child(2n+1) {
    background-color: #edf5ff !important;
}

 td.sorting_1 {
 background-color: rgba(207, 225, 255, 0.5) !important;

}
th.sorting_asc, th.sorting_desc {
color:#607d8b;
text-decoration:underline;
}

.table tr.success > th > label {
display:block !important;
}
@media (min-width: 768px){
.modal-dialog.small-modal {
  width: 300px;
  top:180px;
 }
 .modal-dialog.medium-modal {
  width: 400px;
    top:180px;
	
 }
 .carrier_ > div > div{
			padding-bottom: 10px;
}
.attachment{
	width: 317px;
    height: 112px;
    background-color: rgb(221, 234, 254);
}
}